A través de este sitio web no se recaban datos de carácter personal de los usuarios sin su conocimiento, ni se ceden a terceros.<br/><br/>

GESTORA INMOALCALA, S.L. puede supervisar el tráfico de las visitas de los usuarios para conocer qué cantidad y áreas de la página web son más solicitadas. Esta supervisión se realiza a través del nombre del dominio del usuario, el tipo de navegador, la fecha y hora de acceso, páginas visitadas, etc.<br/><br/>

GESTORA INMOALCALA, S.L. puede utilizar las «cookies» para facilitar su servicio personalizado en la página web. Las «cookies» son pequeños archivos de texto enviados y almacenados en los ordenadores de los usuarios que permiten a la página web como la presente, reconocer los usuarios repetidos, facilitar acceso a los usuarios a la página y permitir a la página recopilar información que pueda mejorar el contenido. Las «cookies» no dañan los ordenadores de los usuarios o sus archivos. Podemos utilizar las «cookies» para ofrecerle información y servicios dirigidos a sus intereses y necesidades. Si los usuarios no quieren que las «cookies» sean accesibles a GESTORA INMOALCALA, S.L., la mayoría de los navegadores permiten a los usuarios denegar o impedir el uso de «cookies». Tenga en cuenta, sin embargo, que las «cookies» podrían ser necesarias para operar apropiadamente para ciertas funciones de la página.<br/><br/>

Tratamos la información que nos facilita con el fin de enviarle publicidad relacionada con nuestros productos y servicios por cualquier medio (postal, email o teléfono) e invitarle a eventos organizados por la empresa. Los datos proporcionados se conservarán mientras no solicite el cese de la actividad. Los datos no se cederán a terceros salvo en los casos en que exista una obligación legal. Usted tiene derecho a obtener confirmación sobre si en GESTORA INMOALCALA, S.L. estamos tratando sus datos personales por tanto tiene derecho a acceder a sus datos personales, rectificar los datos inexactos o solicitar su supresión cuando los datos ya no sean necesarios para los fines que fueron recogidos.<br/><br/>

Los afectados pueden ejercitar los derechos de acceso, rectificación, cancelación y oposición ante GESTORA INMOALCALA, S.L., mediante escrito dirigido a su sede social sita en PLAZA DEL GOBERNADOR S/N. C. COMERCIAL LA ESTACION. LOCAL 301. Teléfono: 913518026.  Correo electrónico: protecciondedatos@grupoinmo.com.<br/><br/>

<strong>Aviso legal:</strong><br/><br/>

Propiedad intelectual e industrial<br/><br/>

El diseño del portal y sus códigos fuente, así como los logos, marcas y demás signos distintivos que aparecen en el mismo pertenecen a GESTORA INMOALCALA, S.L. y están protegidos por los correspondientes derechos de propiedad intelectual e industrial.<br/><br/>

 

<strong>Responsabilidad de los contenidos</strong><br/><br/>

GESTORA INMOALCALA, S.L. no se hace responsable de la legalidad de otros sitios web de terceros desde los que pueda accederse al portal. GESTORA INMOALCALA, S.L. tampoco responde por la legalidad de otros sitios web de terceros, que pudieran estar vinculados o enlazados desde este portal.<br/><br/>

GESTORA INMOALCALA, S.L. se reserva el derecho a realizar cambios en el sitio web sin previo aviso, al objeto de mantener actualizada su información, añadiendo, modificando, corrigiendo o eliminando los contenidos publicados o el diseño del portal.<br/><br/>

GESTORA INMOALCALA, S.L. no será responsable del uso que terceros hagan de la información publicada en el portal, ni tampoco de los daños sufridos o pérdidas económicas que, de forma directa o indirecta, produzcan o puedan producir perjuicios económicos, materiales o sobre datos, provocados por el uso de dicha información.<br/><br/>

 

<strong>Reproducción de contenidos</strong><strong>Reproducción de contenidos</strong><br/><br/>

Se prohíbe la reproducción total o parcial de los contenidos publicados en el portal.<br/><br/>

 

<strong>Ley aplicable</strong><br/><br/>

La ley aplicable en caso de disputa o conflicto de interpretación de los términos que conforman este aviso legal, así como cualquier cuestión relacionada con los servicios del presente portal, será la ley española.<br/><br/>